!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title あしあと日記
    = js :diary
    = css :diary

  %body
    #header
      .container
        %img{ src: "images/footstep.png" }
    #body
      .container
        .row
          .span10
            = @content
          .span2
            %img{ src: "http://youchan.org/youchan_square.jpg", width: 64 }
            %p youchan
