!!!
%html{lang: "ja"}
  %head
    %meta{ charset: "utf-8" }
    %title あしあと日記
    %link(rel="stylesheet" href="css/main.css")

  %body
    .navbar
      .navbar-inner
        .container-narrow
          %a{ href: '/' }
            %img.logo{ src: '/images/footstep.png' }
          %a{ href: 'http://youchan.org' }
            %img.icon{ src: '/images/youchan_square.jpg' }
    .content
      .container-narrow
        - if @error
          .error-message
            %p= @error
        - @contents.each_with_index do |data, i|
          - if i > 0
            %hr
          %h2.date
            %a{ href: "/#{data[:date]}" }= data[:date]
          .entry!= data[:entry]
