<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>youchan.org</title>
    <%= css :main %>
  </head>

  <body>
    <div id="header">
      <div class="header-container">
        <img src="http://youchan.org/youchan_square.jpg" width="24"></img>
        <p class="title">youchan.org</p>
      </div>
    </div>
    <div id="body">
      <div style="width: 800px; height: 400px; background-color: #882"></div>
    </div>
  </body>
</html>
