!!!
%html{lang: "ja"}
  %head
    %meta{ charset: "utf-8" }
    %title あしあと日記
    %link(rel="stylesheet" href="css/main.css")

  %body
    .navbar
      .navbar-inner
        .container-narrow
          %img{ src: "http://youchan.org/youchan_square.jpg", width: 24 }
          %p.title あしあと日記
    .content
      .container-narrow
        - if @error
          .error-message
            %p= @error
        - @contents.each_with_index do |data, i|
          - if i > 0
            %hr
          %h2.date= data[:date]
          .entry!= data[:entry]
