@font-face {
    font-family: HuiFont;
    src: url(../font/HuiFont29.woff);
}

body {
  margin: 0;
  padding: 0;
}

.navbar-inner {
  padding: 0 20px;
  background-color: lightblue;
  margin-bottom: 26px;
  min-height: 80px;
}

.navigation {
  background-color: lightblue;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 990;
}

.container-narrow {
  max-width: 1024px;
  margin: 0 auto;
}

.navigation img.icon {
  margin-top: 10px;
  width: 40px;
  border-radius: 40px;
}

.navigation img.logo {
  padding: 10px;
  height: 64px;
}

.navbar .title {
  padding: 12px;
  font-size: 180%;
  margin: 0;
}

.content {
  margin-top: 120px;

  .date {
    font-family: HuiFont;
    font-size: 140%;
    margin-bottom: 4px;
  }

  .entry {
    font-size: 1.2em;

    h1 {
      font-family: HuiFont;
      font-size: 180%;
      background: #fffff8;
      padding: 4px;
      border-top: double #fdd;
      border-bottom: double #fdd;
      margin-top: 8px;
    }

    h2 {
      font-size: 110%;
      border-left: solid 16px #fcc;
      border-bottom: solid 1px #fcc;
      padding: 8px;
    }
  }

  .error-message {
    padding: 12px;
    background: #fee;
    color: red;
    border-radius: 4px;
  }

  .error-message p {
    margin: 0;
  }

  .date a:link {
    color: #000;
    text-decoration: none;
  }

  .date a:visited {
    color: #000;
    text-decoration: none;
  }

  .date a:active {
    color: #000;
    text-decoration: none;
  }

  .date a:hover {
    color: #f44;
    text-decoration: none;
  }
}


